
<div class="container">
    
    <div class="form-horizontal" style="{{display}}">

        <div class="form-group">
            <label class="control-label col-md-2">Código:</label>
            <div class="col-md-5">
                <input type="text" class="form-control" name="time.IdTime" data-ng-model="time.IdTime" value="{{time.IdTime}}" readonly />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Nome:</label>
            <div class="col-md-5">
                <input type="text" class="form-control" name="time.Nome" data-ng-model="time.Nome" value="{{time.Nome}}" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Data de Fundação:</label>
            <div class="col-md-2">
                <input type="text" onblur="(this.type='text')" onfocus="(this.type='date')" class=" form-control" name="time.DataFundacao" data-ng-model="time.DataFundacao" value="{{time.DataFundacao}}" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-default" name="btnAtualizar" data-ng-click="atualizar(time)">Atualizar</button>
                <button class="btn btn-default" name="btnCancelar" data-ng-click="cancelar()">Cancelar</button>
            </div>
        </div>
    </div>

    <div class="container" style="text-align:center">
        <h3>Lista de Times</h3>
        <br />
    </div>

    <table class="table table-hover" style="text-align:center">
        <thead>
            <tr>
                <th style="text-align:center">
                    Código
                </th>
                <th style="text-align:center">
                    Nome
                </th>
                <th style="text-align:center">
                    Data de Fundação
                </th>
                <th style="text-align:center">
                    Opções
                </th>
            </tr>
        </thead>

        <tbody>
            <tr data-ng-repeat="time in times">
                <td>{{time.IdTime}}</td>
                <td>{{time.Nome}}</td>
                <td>{{time.DataFundacao}}</td>
                <td>
                    <button class="btn-link" name="btnEditar" data-ng-click="editar(time.IdTime)">Editar</button>
                    <button class="btn-link" name="btnExcluir" data-ng-click="excluir(time.IdTime)">Excluir</button>
                </td>
            </tr>
        </tbody>

    </table>

    <span>{{msg}}</span>
</div>


