
<div class="container">
    
    <div class="container" style="text-align:center">
        <h3>Lista de Times</h3>
        <br />
    </div>

    <table class="table table-hover" style="text-align:center">
        <thead>
            <tr>
                <th style="text-align:center">
                    Código
                </th>
                <th style="text-align:center">
                    Nome
                </th>
                <th style="text-align:center">
                    Data de Fundação
                </th>
                <th style="text-align:center">
                    Opções
                </th>
            </tr>
        </thead>

        <tbody>
            <tr data-ng-repeat="time in times">
                <td>{{time.IdTime}}</td>
                <td>{{time.Nome}}</td>
                <td>{{time.DataFundacao}}</td>
                <td>
                    <button class="btn-link" name="btnEditar" data-ng-click="editar(time.IdTime)">Editar</button>
                    <button class="btn-link" name="btnExcluir" data-ng-click="excluir(time.IdTime)">Excluir</button>
                </td>
            </tr>
        </tbody>

    </table>

    <span>{{msg}}</span>
</div>


